<launch>
    <arg name="setting_path" default="$(find cloud_edge_slam)/config/mars.yaml" />

    <!-- <arg name="dataset_name" default="AMtown01" />
    <arg name="image_topic" default="/left_camera/image/compressed" /> -->

    <arg name="dataset_name" default="HKairport01" />
    <arg name="image_topic" default="/left_camera/image/compressed" />

    <arg name="real_online" default="false" />
    <arg name="cloud_online" default="true" />
    <arg name="cloud_merge" default="true" />

    <param name="/use_sim_time" value="true" />
    <node name="cloud_edge_slam" pkg="cloud_edge_slam" type="cloud_edge_node" required="true">
        <param name="runtime_environment" value="air" />
        <param name="vocabulary_path" value="$(find cloud_edge_slam)/Vocabulary/ORBvoc.txt" />
        <param name="setting_path" value="$(arg setting_path)" />
        <param name="data_type" value="ros" />
        <param name="dataset_name" value="$(arg dataset_name)" />
        <param name="image_topic" value="$(arg image_topic)" />
        <param name="result_path" value="$(find cloud_edge_slam)/results" />
        <param name="cloud_topic_name" value="/cloud_slam" />
        <param name="merge_anyway" value="false" />
        <param name="cloud_online" value="$(arg cloud_online)" />
        <param name="real_online" value="$(arg real_online)" />
        <param name="cloud_merge" value="$(arg cloud_merge)" />
        <param name="save_cloud_bag" value="false" />
        <param name="old_udf_cloud_edge" value="false" />
        <param name="new_udf_cloud_edge" value="true" />
        <param name="wait_cloud_result" value="true" />
        <param name="main_loop_sleep_ms" value="30" />
        <param name="sampler_edge_front_kf_num" value="40" />
        <param name="sampler_edge_back_kf_num" value="40" />
        <param name="sampler_edge_front_min_time" value="3.0" />
        <param name="sampler_edge_back_min_time" value="3.0" />
        <param name="sampler_pd_kp" value="0.8" />
        <param name="sampler_pd_kd" value="0.08" />
        <param name="sampler_pd_th" value="12" />
        <param name="kf_culling" value="false" />
    </node>
    <node name="rviz" pkg="rviz" type="rviz" args="-d $(find cloud_edge_slam)/config/rviz_svin.rviz" />
</launch>
